<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
</head>
<body>
    <h3>
    <a href="/tasks/">Назад</a><br>
    </h3>
    <h2>
    ID:{{ tasks.id }}<br>
    NAME:{{ tasks.name }}<br>
    DESCRIPTION:{{ tasks.description }}<br>
    USER:{{ tasks.user }}<br>
    PRIORITY:{{ tasks.priority }}<br>
    STATUS:{{ tasks.status }}<br>
    CREATE DATE:{{ tasks.create_date }}<br>
    DEADLINE:{{ tasks.deadline }}<br>
    </h2>
    <h1>
    <a href="/update_task/{{ tasks.id }}">Оновити</a><br>
    <a href="/delete_task/{{ tasks.id }}">Видалити</a>
    </h1>
</body>
</html>