<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Statuses Details</title>
</head>
<body>
    <h3>
        <a href="/task_statuses/">Назад</a><br>
    </h3>
    <h2>
        ID:{{ taskstatus.id }}<br>
        NAME:{{ taskstatus.name }}<br>
    </h2>
    <h1>
        <a href="/update_task-status/{{ taskstatus.id }}">Оновити</a><br>
        <a href="/delete_task-status/{{ taskstatus.id }}">Видалити</a>
    </h1>
</body>
</html>