<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Details</title>
</head>
<body class="task-details-page">
    <div class="d-grid gap-2 d-md-block text-start ms-0">
    <a href="/tasks/" class="btn btn-primary">Назад</a>
    </div>

    <h2 class="text-start ms-3">
    ID:<strong>{{ tasks.id }}</strong><br>
    NAME:<strong>{{ tasks.name }}</strong><br>
    DESCRIPTION:<strong>{{ tasks.description }}</strong><br>
    USER:<strong>{{ tasks.user }}</strong><br>
    PRIORITY:<strong>{{ tasks.priority }}</strong><br>
    STATUS:<strong>{{ tasks.status }}</strong><br>
    CREATE DATE:<strong>{{ tasks.create_date }}</strong><br>
    DEADLINE:<strong>{{ tasks.deadline }}</strong><br>
    </h2>

    {% if user == tasks.user %}
    <div class="update-delete-buttons text-start ms-0">
    <a href="/update_task/{{ tasks.id }}"class="btn btn-secondary btn-lg">Оновити</a>
    <a href="/delete_task/{{ tasks.id }}"class="btn btn-danger">Видалити</a>
    </div>
    {% endif %}
    <br><div class="comments-add text-start ms-0">
        {% if user.is_authenticated %}
            <form method="post" action="{% url 'add_comment' tasks.id %}">
                {% csrf_token %}
                {{ form }}
                <br><button type="submit" class="btn btn-outline-secondary">Додати коментар</button>
        {% else %}
        <form class="no-comment">
        <h2>
            Зайдiть в аккаунт щоб прокоментувати!<br>
            <a href="/login">Логiн</a>
        </h2>
        </form>
        {% endif %}
        </form>
    </div>

    <div class="comments-section text-start ms-0">
        {% for comm in comment %}
        <details class="comment-collapse" open>
            <summary class="comment-header">
                <div class="d-flex justify-content-between align-items-center w-100">
                <div>
                    <span class="comment-user">{{ comm.user }}</span>
                    <span class="comment-date">{{ comm.create_date}}</span>
                </div>
                {% if user.is_authenticated %}
                {% if user == comm.user %}
                <div class="btn-group btn-group-sm">
                <a href="/update_comment/{{ comm.id }}" class="btn btn-outline-primary">✎</a>
                <a href="/delete_comment/{{ comm.id }}" class="btn btn-outline-primary">🗙</a>
                {% endif %}
                {% endif %}
            </div>
            </summary>
            <div class="comment-content">
                <p class="comment-text">{{ comm.description }}</p>
            {% if user.is_authenticated %}
            <a href= "/comment/like/{{ comm.id }}/" type="submit" class="btn btn-outline-primary">👍({{ comm.like.count }})</a>
            <a href= "/comment/dislike/{{ comm.id }}/" type="submit" class="btn btn-outline-primary">👎({{ comm.dislike.count }})</a>
            {% endif %}
            </div>
        </details>
        {% endfor %}
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
</body>
</html>